<div class="container col-12" style="display: flex; flex-direction: column;">
  <div class="title col-12"><h1>STUPID COACHING !</h1></div>
  <div class="test col-12">
    <form action="/answer" data-turbo="false" id=custom>
      <input type="text" name="answer" placeholder="Who are you looking for?">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
